
  <div class="text-block">

  <h1 class="brand-title">Colemak'd</h1>
  <a class="main-image-button my-button">Sign Up</a>
  <span class="sign-in">or </span><a class="sign-in"><strong>Sign in</strong></a>
    <%= image_tag 'workstation.jpg', class: "index-image" %>

  </div>

<div class="intro-box">
  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      <h1>Step up your typing game</h1>

      <p><span class="list-letter list-letter a">A</span><span class="sub-text">Colemak'd makes it easy to learn the Colemak keyboard.  Already a pro? Check out our challenge levels and compete for a spot on the leaderboard!</span></p>

    </div>
  </div>
</div>

<div class="about-colemak-box">
  <div class="row">
    <div class="medium-10 medium-offset-1">
          <h1>The Benefits of Colemak</h1>
          <%= image_tag 'keyboard.jpg' %>
          <p>
            <span class="list-letter list-letter a">B</span>
            <span class="sub-text">
              <ul>
                <li>Ergonomic - Your fingers on QWERTY move 2.2x more than on Colemak</li>
                <li>Fast – Most of the typing is done on the strongest and fastest fingers</li>
                </ul>
              </ul>
            </span>
          </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="medium-12 columns">

    <h1>Sign Up</h1>

    <%= form_for @user do |f| %>
    <%= f.label :first_name %> <%= f.text_field :first_name %>
    <%= f.label :last_name %> <%= f.text_field :last_name %>
    <%= f.label :email %> <%= f.email_field :email %>
    <%= f.label :username %> <%= f.text_field :username %>
    <%= f.label :password %> <%= f.password_field :password %>
    <%= f.label :password_confirmation %> <%= f.password_field :password_confirmation %>
    <%= f.submit "Sign up", class: "button secondary" %>
    <% end %>


  </div>
</div>