<div class="row signup-header">
  <div class="medium-4 medium-offset-1 columns">
    <h1>Sign Up</h1>
  </div>
  <div class="medium-6 columns">
    <h5 class="signin-header">Already have an account? <%= link_to "Sign In", login_path %></h5>
  </div>
</div>

<div class="row signup-panel">

    <div class="large-5 large-offset-1 medium-8 medium-offset-2 columns">
      <h3>Sign up with email:</h3>
      <%= form_for @user do |f| %>
        <%= f.label :name %> <%= f.text_field :name %>
        <%= f.label :email %> <%= f.email_field :email %>
        <%= f.label :username %> <%= f.text_field :username %>
        <%= f.label :password %> <%= f.password_field :password %>
        <%= f.label :password_confirmation %> <%= f.password_field :password_confirmation %>
        <%= f.submit "Sign up", class: "button secondary" %>
      <% end %>
  </div>
  <div class="large-5 medium-10 columns">
        <h3>Or: </h3>
        <%= link_to "/auth/facebook" do %>
          <div class="my-button">
            <i class="fi-social-facebook"></i><span>Sign up with Facebook</span>
          </div>
        <% end %>
  </div>

</div>