<div class="top-header">
  <div class="row">
    <div class="large-12 columns">
      <h2>Highscores for <strong><%= @user.username %></strong></h2>
    </div>
  </div>
</div>

<div class="user-scores-wrapper">




  <% @user.scores.each do |score| %>
    <%= link_to level_path(Level.find(score.level_id)) do %>
      <div class="panel-square">
        <div class="panel-square-header">
          <h3><%= Level.find(score.level_id).name %></h3>
        </div>
        <div class="panel-square-body">
        <span class="wpm-highlight">
        <p><i class="fi-trophy"></i></p>
          <p>High Score</p>
          <p><strong><%= score.wpm %> WPM</strong></p>
        </span>

        <p class="date">Achieved on <%= score.date_added %></p>

        </div>
      </div>
    <%end%>
  <% end %>


</div>
