<h1>Login</h1>

<%= form_tag('login', method: "post") do %>
Username: <%= text_field_tag :username %>
Password: <%= password_field_tag :password %>
Password Confirmation: <%= password_field_tag :password_confirmation %>
<%= submit_tag "Login" %>
<% end %>