<h1><%= @level.name %></h1>
<ul>
<li>Category: <%= @category.name %></li>
<li>Line 1: <%= @level.content %></li>
<li>Line 2: <%= @level.content2 %></li>
</ul>


<%= link_to "Back to Levels List", levels_list_path %>