<h1><%= @level.name %></h1>





<div class="container">

	<div class="box-wrapper">
		<div class="exercise-box" id="exerciseBox"><%= @level.content %></div>
		<div class="input-wrapper">
			<div class="input-box" id="inputBox">
			</div>
			<div class="hidden-box" id="hiddenBox">
			</div>
		</div>
	</div>

	<% if @level.content2 %>
	<div class="box-wrapper">
		<div class="exercise-box" id="exerciseBox2"><%= @level.content2 %></div>
		<div class="input-wrapper">
			<div class="input-box" id="inputBox2">
			</div>
			<div class="hidden-box" id="hiddenBox2">
			</div>
		</div>
	</div>
	<% end %>



</div>




<%= link_to "Go Back", levels_path %>



<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

	<h2 id="modalTitle">Good job!</h2>
	<p class="lead" id="modalWpm"></p>
	<% if @old_score %>
	<p>Your previous top score: <%= @old_score %></p>
	<% end %>
		<%= form_for [current_user, Score.new] do |f| %>
			<%= f.hidden_field :level_id, :value => @level.id %>
			<%= f.hidden_field :wpm, id: 'WpmBox' %>
			<%= f.submit "Try Again?", class: "small button" %>
			<%= f.submit "Next Level", class: "small button" %>
			<%= f.submit "Back to Levels", class: "small button" %>
		<% end %>
	
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

