
<div class="row">
  <div class="large-12 columns header">
    <div class="panel">
      <h2><%= @level.name %></h2>
    </div>

    <table>
      <tbody>
        <tr>
          <td><strong>Category</strong></td>
          <td><%= @category.name %></td>
        </tr>
        <tr>
          <td><strong>Line 1</strong></td>
          <td><%= @level.content %></td>
        </tr>
        <% if @level.content2.to_s != "" %>
          <tr>
            <td><strong>Line 2</strong></td>
            <td><%= @level.content2 %></td>
          </tr>
        <% end %>
            <% if @level.content3.to_s != "" %>
          <tr>
            <td><strong>Line 3</strong></td>
            <td><%= @level.content3 %></td>
          </tr>
        <% end %>
        <% if @level.content4.to_s != "" %>
          <tr>
            <td><strong>Line 4</strong></td>
            <td><%= @level.content5 %></td>
          </tr>
        <% end %>
            <% if @level.content5.to_s != "" %>
          <tr>
            <td><strong>Line 5</strong></td>
            <td><%= @level.content5 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <ul class="button-group round">
      <li><%= link_to "Edit Level", edit_level_path(@level), class: "button small" %></li>
      <li><%= link_to "Delete level", @level, method: :delete, data: {confirm: "Are you sure you want to delete this level?"}, class: "button small" %></li>
      <li><%= link_to "Back to Levels List", levels_list_path, class: "button small" %></li>
    </ul>
  </div>
</div>