<div class="row">
<div class="large-12 columns header">
<h1>List of Levels</h1>
</div>
</div>

<div class="row">
<div class="large-12 columns">
<% @categories.each do |category| %>
<% unless category.levels.empty? %>
    <h3><%= category.name %></h3>
    <% category.levels.each do |level| %>
<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="500">Content</th>
      <th width="150"></th>
      <th width="150"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to level.name, levels_item_path(level) %></td>
      <td><%= truncate(level.content, :length => 60) %>...</td>
      <td><%= link_to "Edit Level", edit_level_path(level), class: "button small" %></td>
      <td><%= link_to "Delete level", @level, method: :delete, data: {confirm: "Are you sure you want to delete this level?"}, class: "button small" %></td>
    </tr>
      <%end %>
    <% end %>
  </tbody>
</table>
<% end %>
</div>
</div>